.artBannerImage {
    padding-top: 150px;
    padding-bottom: 150px;
    overflow: hidden;
    position: relative;
    width: 100%;
    background-image: url('../img/palette.png');
    opacity: 40%;
    background-attachment: fixed;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    text-align: center;
}


.car-image-sizing {
    position: center;
    /* width: 40%; */
    display: inline-block;
    vertical-align: middle
}


  /* Style for the modal's of photos below until end line */
 .myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.myImg:hover {
    opacity: 0.7;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(26, 25, 25, 0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}


.nav-link-artPort {
	color: rgb(2, 2, 2);
    font-family: 'Berkshire Swash';
    font-size: 20px;
    text-decoration: bold;
    opacity: 1.0;   
    padding-bottom: 10px;
    padding-right: 20px;
}

.nav-link-artPort:hover {
    color: rgb(121, 121, 121);
    padding-bottom: 1px;
    text-decoration-style: bold;
    
} 

.end-art-style {
    background-color: rgb(25, 16, 36);
    opacity: 0.8;
    height: 50px;
}

.lead-body {
    font-size: 50px;
    text-align: right;
	padding-top: 30px;
	padding-bottom: 30px;
}


.lead-body {
	font-family: 'Berkshire Swash', cursive;
	color: rgb(10, 7, 40);
	text-shadow:
	-1px -1px 0 rgb(10, 7, 40),
	1px -1px 0 rgb(255, 255, 255),
	-1px 1px 0 rgb(10, 7, 40),
	1px 1px 0 rgb(249, 249, 249);
}

.rowStyle {
    padding-bottom: 20px;
}