.techBannerImage {
    padding-top: 250px;
    padding-bottom: 250px;
    overflow: hidden;
    position: relative;
    width: 100%;
    background-image: url('../img/jacksonicecream.jpg');
    background-attachment: fixed;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    text-align: center;
}