/* all below is the footer */
.spacer {
	padding-right: 20px;
}
.copyright {
	padding-top: 20px;
}


footer {
	border-top-style: ridge;
    border-top-color: rgb(223, 223, 223);
	padding: 5px;
	color: gray; 
	text-align: center;
	width: 100%;
}


.connectFooter {
	padding-right: 15px;
	font-size: 20px;
}

.linkimages {
	display: inline;
	text-align: center;
	text-decoration: black;
	margin-right: 28px;
	margin-left: 15px;
}


.imagesize {
	max-width: 45px;
	max-height: 45px;
	color: #FFFFFF;
    text-decoration: none;
}

/* below is me trying to get ride of the line showing on hover for the footer images.  come back with solution. */
.imagesize:hover {
color: #FFFFFF;
opacity: 0.5;
}


.link-line:hover {
	text-decoration: none;
}

