/* .change-nav-color {

} */


.nav-color {
	overflow: hidden;
	position: relative;
    width: 100%;
    /* background-color: rgb(217, 214, 218); */
	/* background-image: url('../img/macbook.jpg'); */
	background-attachment: fixed;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
    background-position: top center;
	opacity: 0.8;	
	background-color: #ffffff;
    border: 1px ridge black;
   filter: alpha(opacity=60); 
}

.nav-tech {
    background-image: url('../img/macbook.jpg');
}

.nav-home {
    background-image: url('../img/lakeview.jpeg');
}

.nav-art {
    background-image: url('../img/palette.png');
    background-color: rgb(25, 16, 36);
}

.nav-about {
    background-image: url('../img/sweden.jpg');

}

/* .brand-name */
.nav-link {
	color: rgb(255, 255, 255);
    font-family: 'Berkshire Swash';
    font-size: 20px;
    text-decoration: bold;
    opacity: 1.0;   
    padding-bottom: 10px;
    padding-right: 20px;
	

}

.nav-link:hover {
    color: rgb(121, 121, 121);
    padding-bottom: 1px;
    text-decoration-style: bold;
    
} 