body {
	font-family: 'Open Sans', sans-serif;
	background-color: rgba(255, 251, 253, 0.925);
    color: rgb(0, 0, 0);

}
/* home page buttons*/
.home-pg-btn {
    background: #795588;
	color: white;
	border-radius: 0px !important;
	margin-top: 20px;

}

  .home-pg-btn:hover {
    background: #4e3559;
    color: white;
    box-shadow: 5px 5px 5px rgb(171, 168, 168);

}

/* all paralax headers affected */

.header {
	font-size: 40px;
	padding-bottom: 20px;
    color: rgb(0, 0, 0);
	font-family: 'Berkshire Swash', cursive;
    text-align: center;
    text-decoration: bold;
   
}

.mainboxtitle {
	padding-bottom: 20px;
	color: white;
	
}



.parallax {
		padding-top: 200px;
		padding-bottom: 200px;
		overflow: hidden;
		position: relative;
		width: 100%;
		background-image: url('../img/lakeview.jpeg');
		background-attachment: fixed;
		background-size: cover;
		-moz-background-size: cover;
		-webkit-background-size: cover;
		background-repeat: no-repeat;
		background-position: top center;
		text-align: center;
}

/* meet the designer */

.second-parallax {
	padding-top: 200px;
		padding-bottom: 200px;
		overflow: hidden;
		position: relative;
		width: 100%;
        background-image: url('../img/term5.JPG');
        /* background-color: rgba(2, 217, 255, 0.2); */
		background-attachment: fixed;
		background-size: cover;
		-moz-background-size: cover;
		-webkit-background-size: cover;
		background-repeat: no-repeat;
		background-position: top center;

}


.third-parallax {
	padding-top: 200px;
	padding-bottom: 200px;
	overflow: hidden;
	position: relative;
	width: 100%;
	background-image: url('../img/artbackdrop.JPG');
	background-attachment: fixed;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
}

/* the first grouping of text infront of image */
.container {
	text-align: center;
}


.selfport {
	/* padding-right: 20px; */
	margin-bottom: 50px;
	margin-top: 50px;
	width: 80%;
	float: left;
   	border: 1px ridge #616161;
}

.paragraph-details {
	font-size: 20px;
}


/* testing out space in between cards */
.row {
	margin-bottom: 20px;
}



.about-link {
	text-align: center;
}

.styling-cards {
	margin-bottom: 40px;
}


.home-text {
	font-size: 100px;
	margin-bottom: 50px;
}



.home-text {
	font-family: 'Berkshire Swash', cursive;
	color: rgb(10, 7, 40);
	text-shadow:
	-1px -1px 0 rgb(10, 7, 40),
	1px -1px 0 rgb(255, 255, 255),
	-1px 1px 0 rgb(10, 7, 40),
	1px 1px 0 rgb(249, 249, 249);
	
}

