body {
	font-family: 'Open Sans', sans-serif;
	background-color: rgba(255, 251, 253, 0.925);
    color: rgb(0, 0, 0);

}



.nav-color {
	overflow: hidden;
	position: relative;
	width: 100%;
	background-image: url('../img/star.JPG');
	background-attachment: fixed;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
    background-position: top center;
	opacity: 0.7;	
	background-color: #ffffff;
    /* border: 1px solid black; */
    filter: alpha(opacity=60); 
}




/* .brand-name */
.nav-link {
	color: rgb(0, 0, 0);
    font-family: 'Berkshire Swash';
    font-size: 25px;
    text-decoration: bold;
    opacity: 1.0;   
	padding-bottom: 10px;
	

}

.nav-link:hover {
    color: rgb(0, 0, 0);
    font-size: 30px;
    padding-bottom: 1px;
    
} 


/* all paralax headers affected */

.header {
	font-size: 40px;
	padding-bottom: 20px;
    color: rgb(0, 0, 0);
	font-family: 'Berkshire Swash', cursive;
    text-align: center;
    text-decoration: bold;
   
}

.mainboxtitle {
	padding-bottom: 20px;
	color: white;
	
}



.parallax {
		padding-top: 200px;
		padding-bottom: 200px;
		overflow: hidden;
		position: relative;
		width: 100%;
		background-image: url('../img/star.JPG');
		background-attachment: fixed;
		background-size: cover;
		-moz-background-size: cover;
		-webkit-background-size: cover;
		background-repeat: no-repeat;
		background-position: top center;
		text-align: center;
}

/* meet the designer */

.second-parallax {
	padding-top: 200px;
		padding-bottom: 200px;
		overflow: hidden;
		position: relative;
		width: 100%;
        background-image: url('../img/star.JPG');
        /* background-color: rgba(2, 217, 255, 0.2); */
		background-attachment: fixed;
		background-size: cover;
		-moz-background-size: cover;
		-webkit-background-size: cover;
		background-repeat: no-repeat;
		background-position: top center;

}

.third-parallax {
	padding-top: 200px;
	padding-bottom: 200px;
	overflow: hidden;
	position: relative;
	width: 100%;
	background-image: url('../img/penguin.JPG');
	background-attachment: fixed;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
}

/* the first grouping of text infront of image */
.container {
	text-align: center;
}

.bottom-part {
	position: absolute;
	 bottom: 0;
	 text-align: center;
	 width: 100%;
	font-size: 14px;
    background-color: #ffffff;
    opacity: 0.7;
	filter: alpha(opacity=60); /* For IE8 and earlier */
	padding-bottom: 15px;
	padding-top: 15px;
}

/* div.transbox {
	padding-top: 30px;
	padding-bottom: 30px;
    background-color: #ffffff;
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
/* } */

/* .text-bottom {
	text-align: center;
} */

.selfport {
	padding-right: 20px;
	padding-bottom: 50px;
	width: 50%;
	float: left;
	 
	
}

.paragraph-details {
	font-size: 25px;
}


/* testing out space in between cards */
.row {
	margin-bottom: 20px;
}

.about-link {
	text-align: center;
}

.styling-cards {
	margin-bottom: 40px;
}


.home-text {
	font-size: 100px;
	margin-bottom: 50px;
}
.lead-body {
    font-size: 50px;
    text-align: right;
	/* padding-right: 100px; */
	padding-top: 30px;
	padding-bottom: 30px;
	/* padding-left: 100px; */
	
}

.home-text,
.lead-body {
	font-family: 'Berkshire Swash', cursive;
	color: rgb(40, 7, 7);
	text-shadow:
	-1px -1px 0 rgb(40, 7, 7),
	1px -1px 0 rgb(255, 255, 255),
	-1px 1px 0 rgb(40, 7, 7),
	1px 1px 0 rgb(249, 249, 249);
}